/* CSS Document */
@import url("intro/stylesheet.css");

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova'), local('Proxima Nova'), url("fonts/Proxima-Nova-Reg.otf") format('opentype');
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: local('Proxima Nova Bold'), local('Proxima Nova Bold'), url("fonts/Proxima-Nova-Bold.otf") format('opentype');
}

html {
    position: relative;
    min-height:100%;
    height: auto !important;
    height: 100%;
    text-align: left;
    margin-top: 0em;
    font-size: 1em;
}

body {
    /*padding-top: 64px; */
    margin-bottom: 68px;
}

body h3 {
    color: #691B32;
}

body h6 {
    color: #691B32;
}

body p {
    color: #10312B;
    font-size: 1.1em;
}

body a {
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

.alternate-color {
    background: #fff;
}

.alternate-color:nth-child(2n) {
    background: #ddd;
}

.alternate-color p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.imagen_ancho {
    width: 30%
}

.foto_empleado {
    max-height: 150px;
}

.texto-titulo {
    color: #001E89 !important;
}


#mapa {
    height: 500px;
}


/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #4e8c68 !important;
    padding: 10px 0 0 0 !important;
}

.footer a:hover {
    text-decoration: none;
}

.footer li {
    margin-bottom: 0.2em;
    color: #fff;
}

.footer_margin {
    height:80px; 
}
/* FOOTER */
